* {
    box-sizing: border-box;
    margin: auto;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%;
}

.part1 {
    background-image: url("/public/Pictures/home1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.menubar {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    height: 10vh;
}

.menubar1 {
    margin-left: 3em;
}

.menubar-btn1 {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.menubar2 {
    margin-right: 3em;
}

.menubar-btn {
    position: relative; /* Required for positioning the pseudo-element */
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 1em;
    transition: color 0.3s ease; /* Smooth color change on hover */
}

.menubar2 .menubar-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Position the underline slightly below the text */
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: orange; /* Underline color */
    transition: width 0.3s ease; /* Smooth animation for underline */
}

.menubar2 .menubar-btn:hover {
    color: orange; /* Change text color on hover */
}

.menubar2 .menubar-btn:hover::after {
    width: 100%; /* Expand underline to full width */
}

.main {
    display: flex;
    height: 87.5vh;
}

.main-content {
    margin-left: 0em;
} 

.main-content h2 {
    color: whitesmoke;
    font-size: 4rem;
    margin-left: 1em;
}

.anim {
    color: orange;
    animation-name: anim;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes anim {
    from {opacity: 0%; width: 0%;}
    to {opacity: 100%; width: 100%;}
}

.main-content button {
    position: relative;
    color: whitesmoke;
    font-size: 1rem;
    background: none;
    border: 1px solid whitesmoke;
    padding: 1em 2.6em;
    border-radius: 35px;
    box-shadow: 1px 1px 47px white;
    margin-top: 7em;
    margin-left: 17em;
    overflow: hidden;
    transition: all 0.3s ease;
}

.main-content button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    border: 2px solid orange;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.main-content button:hover::after {
    transform: scale(1.1);
}

.main-content button:hover {
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.socials {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-top: 14em;
    margin-right: 2em;
}

.socials img {
    width:"30px";
    height:"30px";
    border:"2px solid white";
    border-radius: "5px";
}

.socials img:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Add a glow effect */
    cursor: pointer;
}

.homepage .part2 {
    display: flex;
}

.part2 {
    background-image: url("/public/Pictures/part2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.text {
    display: flex;
    flex-direction: column;
    background: rgba(15, 15, 15, 0.897);
    height: 70vh;
    width: 30%;
    border: 1px solid black;
    box-shadow: 1px 1px 57px white;
    border-radius: 13px;
}

.text p {
    font-size: 5rem;
    font-weight: bolder;
    color: orange;
    margin-top: 0.5em;
}

.text h3 {
    margin-top: -2em;
    color: white;
    width: 60%;
    font-size: 1.5rem;
}

.short-bio {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.short-bio h3 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 4px solid orange;
    width: 30%;
    margin-bottom: 3em;
}

.short-bio p {
    color: white;
    font-size: 1.2rem;
    width: 90%;
}

.short-bio button {
    position: relative;
    color: whitesmoke;
    font-size: 1rem;
    background: none;
    border: 1px solid whitesmoke;
    padding: 1em 2.6em;
    border-radius: 35px;
    box-shadow: 1px 1px 47px white;
    margin-top: 7em;
    margin-left: 17em;
    overflow: hidden;
    transition: all 0.3s ease;
}

.short-bio button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    border: 2px solid orange;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.short-bio button:hover::after {
    transform: scale(1.1);
}

.short-bio button:hover {
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.bio {
    position: relative;
    color: whitesmoke;
    font-size: 1rem;
    background: none;
    border: 1px solid whitesmoke;
    padding: 1em 2.6em;
    border-radius: 35px;
    box-shadow: 1px 1px 47px white;
    margin-top: 7em;
    margin-left: 17em;
    overflow: hidden;
    transition: all 0.3s ease;
    text-decoration: none;
}

.bio::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    border: 2px solid orange;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}


.bio:hover::after {
    transform: scale(1.1);
}

.bio:hover {
    color: orange;
    font-weight: bold;
    cursor: pointer;
}

.part2 h2 {
    color: orange;
    font-size: 1.8rem;
    margin: 2em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid white;
}

.about1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
}

.about1 img {
    width: 35%;
    border-radius: 10px;
    box-shadow: 1px 1px 47px white;
}

.about1 p {
    width: 55%;
    font-size: 1.1rem;
    color: white;
}

.about2 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
    padding-bottom: 3em;
}

.about2 img {
    width: 35%;
    border-radius: 10px;
    box-shadow: 1px 1px 47px white;
}

.about2 p {
    width: 55%;
    font-size: 1.1rem;
    color: white;
}

.about2 span {
    font-weight: bold;
    color: orange;
}

.footer {
    background-color: grey;
    text-align: center;
}

.footer p {
    font-weight: 200;
}

.projects {
    width: 90vw;
}

.projects img {
    width: 20%;
    border: 1px solid white;
    padding: 0.8em;
    box-shadow: 1px 1px 47px white;
    border-radius: 5px;
}

.projects img:hover {
    width: 20%;
    box-shadow: 1px 1px 47px grey;
    border: 1px solid orange;
}

/*-------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {

    .menubar {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }

    .menubar2 {
        display: flex;
    }

    .main {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .main-content h2 {
        margin-left: auto;
        text-align: center;
        margin-top: 1em;
    }
    
    .main-content button {
        display: flex;
        margin-left: auto;
        margin-top: 3.8em;
        justify-self: center;
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        margin: auto;
        margin-top: -5em;
    }

    .socials img {
        display: flex;
        justify-content: space-between;
        margin: 1.5em;
    }

    .part2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .text {
        width: 85%;
        margin-top: 1em;
    }

    .short-bio {
        width: 85%;
        margin-top: 2em;
        margin-bottom: 3em;
    }

    .short-bio p {
        margin-top: -2em;
    }

    .short-bio .bio {
        display: flex;
        margin-left: auto;
        justify-self: center;
        margin-top: 0.5em;
    }

    .about1 {
        flex-direction: column;
        margin-top: 1em;
    }

    .about1 img {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .about1 p {
        width: 90%;
    }

    .about2 {
        flex-direction: column;
        margin-top: 1em;

        .pa {order: 2;}
        img {order: 1;}
    }

    .about2 p {
        max-width: 90%;
    }

    .about2 img {
        width: 90%;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .projects {
        display: flex;
    }

    .projects img {
        width: 90%;
    }

}